.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1170px;
  background-color: #fff;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__phone {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.header__mail {
  display: block;
  margin-top: 5px;
  padding-left: 12px;
  font-size: 14px;
  color: #6e6e6e;
  
  &:hover,
  &:active {
    color: @blue;
  }
}

.logo img {
  display: block;
}
