.sidebar {
  width: 340px;
}

.sidebar__block {
  margin-bottom: 20px;
  padding: 35px 40px;
  padding-bottom: 40px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
  
  &--info {
    padding: 28px;
  }
}

.sidebar__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}

.sidebar__list {
  .reset();
  list-style: none;
  
  a {
    display: block;
    padding: 13px 0;
    color: @blue;
    font-size: 14px;
    .transition();
    
    &:hover,
    &:active {
      color: @blue-dark;
      .transition();
    }
  }
}

.sidebar__btn {
  width: 100%;
  height: 50px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 25px;
  .transition();
  
  &:hover,
  &:active {
    background-color: rgb(221, 221, 221);
    .transition();
  }
}

.sidebar__icon {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 60px;
  font-size: 16px;
  font-weight: 600;
  
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 2px;
    width: 40px;
    height: 40px;
    background-image: url(../img/document.png);
    background-repeat: no-repeat;
  }
}
