.subscribe__input {
  width: 100%;
  height: 44px;
  margin-bottom: 10px;
  padding: 0 25px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 25px;
  
  &::placeholder {
    opacity: 0.6;
  }
}

.subscribe__btn {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  background-color: rgb(74, 84, 105);
  border-radius: 25px;
  .transition();
  
  &:hover,
  &:active {
    background-color: @blue;
    .transition();
  }
}
